{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron-img jumbotron jumbotron-fluid">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="container">
            <h1 class="display-4">{% trans %}Welcome{% endtrans %} {{ app.user.userIdentifier }} !</h1>
            <p class="lead">You have role of : {{ app.user.roles|join(' | ')  }}</p>
        </div>
        {% else %}
            <div class="container">
                <h1 class="display-4">Welcome to sample project</h1>
                <p class="lead">{% trans %}Click on{% endtrans %} <a href="{{ path('app_login') }}">{% trans %}Log In{% endtrans %}</a></p>
            </div>
        {% endif %}
    </div>
{% endblock %}

